$link-fg-color: rgb(100,100,200);
$link-hover-color: rgb(200,150,150);
$action-fg-color: #ff5555;
$action-bg-color: #ffffff;
$action-hover-color: #ff8888;
$theme-bg: #e1cbaa;
$trans-time: 0.5s;

//==============Responsive================
$pc-media: 1024px;
$pad-media: 640px;
$mobile-media: 360px;
@mixin pc-width() {
    @media only screen and (min-width: $pc-media) {
        @content;
    }
}
@mixin pad-width() {
    @media only screen and (min-width: $pad-media) {
        @content;
    }
}
@mixin mobile-width() {
    @media only screen and (min-width: $mobile-media) {
        @content;
    }
}
//===================General======================
::-webkit-scrollbar {
    height: 8px;
    background-color: #ccbe95;
}
 
::-webkit-scrollbar-track {
    border-radius: 3px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #8d7950;
}

html, body { 
  height: 100%; margin: 0; padding: 0; 
}

a{
  color: $link-fg-color;
  text-decoration: none;
  &:hover{
    color: $link-hover-color;
  }
}

* {
    box-sizing: border-box;
    font-family: "微軟正黑體", "Microsoft JhengHei";
}

.center{
    display: block;
    margin: auto;
    clear: both;
    text-align: center;
}

.h-scroll{
  margin: 0px;
  width: 100%;
  overflow-x: auto;
}

.riverlog{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: $theme-bg;

	select{
		padding: 3px;
		border-radius: 3px;
		margin: 5px;
	}

	.main-content{
		flex-grow:1;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		height: 100%;
		position: relative;
		.icon-container{
			width: 50px;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			border-right: 1px solid #c0b492;
			.icon{
				width: 35px;
				height: 35px;
				margin: 10px;
				cursor: pointer;
			}
		}
		#map{
			width: calc(100% - 50px);
			height: 100%;
		}
		.overlay-container{
			position: absolute;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
			svg{
				width: 100%;
				height: 100%;
			}
		}
	}

	.topbar{
		width: 100%;
		padding: 5px 10px;
		border-bottom: 1px solid #c0b492;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		font-size: 1.5em;
		flex-wrap: wrap;

		.logo{
			display: none;
			@include pad-width(){
				display: block;
			}
			height: 40px;
		}
	}

	.playbar{
		width: 100%;
		border-top: 1px solid #c0b492;
		padding: 5px;

		.timebar{
			position: relative;
			margin: auto;
			width: 1152px;
			height: 20px;
			.element{
				position: absolute;
				width: 8px;
				height: 20px;
				cursor: pointer;
				background-color: #b4a17c;
			}
			.select-element{
				position: absolute;
				width: 8px;
				height: 20px;
				cursor: pointer;
				border: 2px solid #8c4e4e;
			}
		}

		.play-control{
			display: flex;
			justify-content: center;
			align-items: center;
			.time-label{
				padding: 0px 3px;
				margin: 0px 5px;
				cursor: pointer;
				&:hover{
					border: 1px solid #ff0000;
				}
			}
			.icon{
				width: 30px;
				height: 30px;
				cursor: pointer;
			}
		}
	}

	.close-bt{
		position: absolute;
		top: 5px;
		right: 10px;
		cursor: pointer;
		width: 30px;
		height: 30px;
		&:hover{
			width: 32px;
			height: 32px;
			filter: contrast(0.5);
		}
	}

	.side-panel{
		position: fixed;
		left: -250px;
		top: 0px;
		z-index: 2;
		width: 250px;
		max-width: 100%;
		height: 100%;
		padding: 10px;
		overflow-y: auto;
		background-color: $theme-bg;
		box-shadow: 5px 0px 15px #8b6951;
		-webkit-transition: left $trans-time ease;
		transition: left $trans-time ease;

		.close-bt{
			position: fixed;
			left: -50px;
			-webkit-transition: left $trans-time ease;
			transition: left $trans-time ease;
			z-index: 5;
		}

		&.open{
			left: 0px;
			.close-bt{
				left: 200px;
			}
		}

		.date-selection{
			position: relative;
			width: 100%;
			min-height: 100%;
			.week-label{
				position: absolute;
			}
			.month-label{
				position: absolute;
				writing-mode: tb;
				height: 60px;
			}
			.date-bt{
				position: absolute;
				width: 20px;
				height: 20px;
				border: 1px solid #9c9c9c;
				cursor: pointer;
			}
		}
	}

	.full-panel{
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		padding: 40px 20px 20px 20px;
		background-color: $theme-bg;
		overflow-x: hidden;
		overflow-y: auto;

		.content-area{
			background-color: #e6e3d9;
			border-radius: 5px;
			width: 100%;
			height: 100%;
		}
	}
}

$vue-transition: 0.5s;

.fade-enter-active, .fade-leave-active {
	transition: opacity $vue-transition;
}

.fade-enter, .fade-leave-to{
	opacity: 0;
}

.create-enter-active{
	transition: opacity $vue-transition;
}
.create-enter{
	opacity: 0;
}