<div class="content-title">關於山河事件簿</div>
<ul>
	<li>本專案為<a href="https://www.facebook.com/groups/LASSnet/" target="_blank">LASS社群</a>的水議題開源專案，感謝所有出力協助專案的朋友</li>
	<li><a href="https://github.com/aga3134/RiverLog" target="_blank">山河事件簿 開源程式碼</a></li>
	<li><a href="https://docs.google.com/document/d/1BjOqTUlnW9QGPLmgmhbe9K2IyvFXHB5BoMqPqvUSbP0/edit?usp=sharing" target="_blank">山河事件簿 資料API列表</a></li>
	<li>2019年<a href="https://ci.taiwan.gov.tw/creativity/index.aspx" target="_blank">民生公共物聯網 資料應用競賽</a> 二獎(首獎從缺)
		<ul>
			<li><a href="https://docs.google.com/document/d/1jOOIinGLzLxkKY3Vy5Y7U4YaahtgY9VdzV9jehP9V-E/edit?usp=sharing" target="_blank">初選提案</a></li>
			<li><a href="https://drive.google.com/file/d/1lko-NsvyrpnWPaoQ4ipboxxpNOnm3mMx/view?usp=sharing" target="_blank">複賽成果報告</a></li>
			<li><a href="https://docs.google.com/presentation/d/1hxQutbNjet2Y_psmE96miwkGDzxy94uOjkFoaR0gZa4/edit?usp=sharing" target="_blank">複賽簡報</a></li>
			<li><a href="https://drive.google.com/file/d/1H9w8t6idFQiw6OQvucej1Iyy0V01Fljj/view?usp=sharing" target="_blank">決賽成果報告</a></li>
			<li><a href="https://docs.google.com/presentation/d/1HPcpK_6_hJ-UxZ3BYmIPnEt_66ClS6fECY-uc57dSTo/edit?usp=sharing" target="_blank">決賽簡報</a></li>
			<li><a href="https://docs.google.com/presentation/d/1HPcpK_6_hJ-UxZ3BYmIPnEt_66ClS6fECY-uc57dSTo/edit?usp=sharing" target="_blank">決賽簡報</a></li>
		</ul>
	</li>
	<li><a href="https://pm25.lass-net.org/" target="_blank">LASS空氣專案</a></li>
	<li><a href="https://agawork.tw/" target="_blank">阿嘉的其他專案</a></li>
	<li>若您對本站有任何建議或合作需求，歡迎來信討論 aga3134@gmail.com</li>
	<img class="logo" src="/static/Image/logo-lass.jpg">
</ul>