<div class="content-title">關於山河事件簿</div>
<ul>
	<li>本專案為<a href="https://www.facebook.com/groups/LASSnet/" target="_blank">LASS社群</a>的水議題開源專案，感謝所有出力協助專案的朋友</li>
	<li>參與2019年<a href="https://ci.taiwan.gov.tw/creativity/index.aspx" target="_blank">民生公共物聯網 資料應用競賽</a></li>
	<li><a href="https://github.com/aga3134/RiverLog" target="_blank">網站開源程式碼</a></li>
	<li><a href="https://agawork.tw/" target="_blank">其他專案</a></li>
	<li>若您對本站有任何建議或合作需求，歡迎來信討論 aga3134@gmail.com</li>
	<img class="logo" src="/static/Image/logo-lass.jpg">
</ul>