<transition name="fade">
	<div class="full-panel" v-if="openSponsor">
		<img class="close-bt" src="/static/Image/icon-close.png" v-on:click="openSponsor=false;">
		<div class="content-area">
			<div class="content-title">社群夥伴</div>
			<div class="content-title">組織夥伴</div>
			<div class="content-title">致謝區</div>
			<div class="sponsor-container">
				<img class="sponsor-logo" src="/static/Image/sponsor/logo-ci.png?v=1.0.0">
				<img class="sponsor-logo" src="/static/Image/sponsor/logo-wra.png?v=1.0.0">
			</div>
			<div class="content-title">贊助方式</div>
			<ul>
				<li>請參考<a href="https://paper.dropbox.com/doc/LASS--ApNWq0oMxp852_MxmiXXEWrRAg-cV5q46R2fGvCgMtfP8cg3" target="_blank">專案贊助方式</a></li>
			</ul>
		</div>
	</div>
</transition>